/*---------------------------
          HEADER
--------------------------- */
body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    background: transparent;
    cursor: pointer;
    border: 0;
}

img {
	border: 0px;
}

#header.util {
    line-height: 40px;
    background-color: #f2f2f2;
}
span.sp {
    float: left;
    padding-top: 9px;
    padding-right: 2px;
}
span.sp img {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    background-size: 100% 100%;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    display: inline-block;
}
div.link_nav li {
    margin-left: 2px;
}
div.top {
    background-color: #f2f2f2;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}
div.link_my {
    float: right;
}
div.link_my li {
    float: left;
    margin-left: 20px;
    padding-top: 7px;
}
div.link_my li a{
    text-decoration: none;
    color: #808080;
    font-size: 12px;
}

#header .home a {
    margin: 0 auto;
    display: block;
    width: 155px;
    height: 25px;
}
span.btn_search_icon {
    background: url(https://www.shouse.garden/images/common/sp_common.png);
    background-position: -125px -32px;
    width: 16px;
    height: 16px;
    position: absolute;
}

/* inner */
.holder {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}
div.inner {
    height: 40px;
    padding: 12px 0;
    border-bottom: 1px solid #d9d9d9;
}
div.inner li {
    float: left;
}
li.menu img {
    padding-top: 12px;
    padding-right: 22px;
    height: 16px;
}
div.inner li a {
    text-decoration: none;
    display: block;
    padding: 0 17px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #222624;
}
div.inner span.c {
    float: right;
    font-size: 0px;
    position: absolute;
}
span.write {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 22px;
    height: 22px;
    background-position: -101px -32px;
}
a.btn_t.write {
    position: absolute;
    top: 8px;
    right: 221px;
}
span.cart {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 28px;
    height: 25px;
    background-position: -73px -32px;
}
a.btn_t.cart {
    position: absolute;
    top: 7px;
    left: 930px;
}
span.my {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 21px;
    height: 21px;
    background-position: -50px -32px;
}
a.btn_t.my {
    position: absolute;
    top: 9px;
    right: 315px;
}
.inner ul {
    margin-left: 60px;
}
span.menu {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 26px;
    height: 17px;
    background-position: -22px -32px;
    top: 10px;
}

input {
    list-style: none;
}
div.search {
    position: absolute;
    right: 0;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    border: 0;
    width: 160px;
    padding-right: 20px;
    text-align: 14px;
    height: 38px;
}
span.btn_search_icon {
    background: url(https://www.shouse.garden/images/common/sp_common.png);
    background-position: -125px -32px;
    width: 16px;
    height: 16px;
    position: absolute;
}

div.inner button {
    z-index: 100;
    position: absolute;
    
}
div.search input {
    padding-top: 13px;
    margin-left: -1px;
    width: 140px;
    padding-right: 20px;
    text-indent: 14px;
    font-size: 12px;
    background-color: transparent;
    box-sizing: content-box;
    border: none;
} 
div.search button.btn_search {
    width: 34px;
    height: 26px;
    right: 5px;
    top: 0px;
}

/* request */
a {
    color: inherit;
    text-decoration: none;
}
.request h3 {
    margin: 100px;
    margin-left: 150px;
    margin-bottom: -40px;
}
a.bg1 {
    float: left;
    background-color: #f2f2f2;
    height: 100px;
    border-radius: 4px;
    margin-left: 150px;
    width: 440px;
    margin-top: 70px;
}
a.bg2 {
    margin-left: 55px;
}


a.bg1 p {
    padding-left: 50px;
    margin: 3px;
}
a.bg1 p.tit {
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
}
span.sell {
    position: absolute;
    padding-left: 360px;
    margin-top: -50px;

}
span.sell2 {
    margin-top: -60px;
}
.request_cur {
    height: 350px;
}

.top_home span.logo {
    width: 160px;
    height: 31px;
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    display: inline-block;
}

/*-------------------------
          footer 
-------------------------
*/
#footer {
    background-color: #4d4d4d;
    margin-top: 100px;
    padding-bottom: 20px;
}
#footer.holder {
    padding: 54px 40px;
}
#footer .fnav {
    margin-top: 27px;
    overflow: hidden;
    text-align: center;
    background-color: #3e3e3e;
    border-radius: 4px;
}
#footer .fnav ul {
    display: inline-block;
    vertical-align: top;
}
#footer .fnav li {
    float: left;
}
#footer .fnav a {
    display: block;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}
#footer .bottom {
    margin-top: 26px;
    padding-top: 32px;
    color: #b3b3b3;
    word-break: keep-all;
    border-top: 2px solid #494949;
}
#footer .info {
    line-height: 26px;
    font-size: 15px;
    padding-top: 16px;
    color: #fff;
}
#footer .siteinfo {
    margin-top: 37px;
    color: #d9d9d9;
    line-height: 26px;
    font-size: 15px;
}
span.arrow {
    position: relative;
    background: url(https://www.shouse.garden/images/common/arrow02_r.png);
    background-size: 100% 100%;
    width: 6px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
}
.fnav li {
    margin-left: 28px;
}

