body {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
}

main {
    width: 60%;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 50px;
}

.detail_area {
    margin-top: 50px;
    padding: 60px 60px 70px;
}

.detail_title {
    color: #1d3d68;
    font-size: 25px;
    margin-bottom: 8px;
    font-weight: bold;
}

table {
    width: 100%;
    text-align: center;
    border-top: 3px solid #222;
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    width: 260px;
    border-bottom: 1px solid #ddd;
    background-color: #f8f6f5;
    color: #000;
    padding: 15px 10px;
    font-weight: bold;
}

.address_area {
    line-height: 94px;
}

td {
    padding: 15px 10px;
    text-align: left;
    color: #555555;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.address_list {
    padding: 5px 0;
}

.address_span {
    display: block;
    position: absolute;
    width: 100px;
    color: #000;
}

.address_text {
    display: inline-block;
    margin-left: 100px;
}

.second_area {
    margin-top: 0;
}

.button_area {
    display: block;
    padding: 0 70px;
    text-align: center;
    margin: 0 auto;
}

.buttons {
    width: 160px;
    height: 50px;
    margin: 0 2px;
    padding: 0 20px;
    border-radius: 0%;
    font-weight: bold;
}

.button_cancel {
    background-color: #009a32;
    border: 1px solid #009a32;
    color: #fff;
}

.button_list {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    color: #222;
}
