.header_area {
    display: block;
    color: #000000;
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #d9d9d9;
}

.back_area {
    display: absolute;
    left: 0;
    padding-left: 15px;
    height: 53px;
    width: 30px;
    line-height: 53px;
}

.back_icon {
    background-image: url(https://www.shouse.garden/images/common/sp_common_m.png);
    background-position: -21px -37px;
    background-size: 100px auto;
    width: 20px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
}

.header_text_area {
    display: absolute;
    text-align: center;
    margin-top: -53px;
}

.header_text {
    display: inline-block;
    z-index: -1;
    padding: 0 100px;
    font-size: 16px;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
}

main {
    margin: 0 20px 0 15px;
    padding: 25px 0 40px;
    position: relative;
}

.input_title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12.6px;
}

.input_box {
    margin-bottom: 40px;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    text-indent: 13px;
}

.input_bottom {
    margin-top: 10px;
}

select {
    width: 100%;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    text-indent: 13px;
}

.policy {
    width: 100%;
    margin-top: 12.6px;
    text-indent: 13px;
}

.check_all {
    height: 41px;
    border: 1px solid #d9d9d9;
    border-radius: 4px 4px 0 0;
    line-height: 40px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    right: 0;
    margin: 10px;
}

input[type="checkbox"]:checked {
    border: 1px solid #009a3e;
    background: url(https://www.shouse.garden/images/common/check.png) center
        center no-repeat;
    background-size: 14px auto;
}

input[type="checkbox"] + label span {
    position: absolute;
    left: 0;
    margin-left: 25px;
    display: inline-block;
    color: #222624;
    font-weight: 500;
    font-size: 14px;
}

#email_result,
#pwCheck_result {
    margin-top: 10px;
}

#pw_result {
    margin-top: 10px;
    margin-bottom: 10px;
}

.check {
    font-weight: normal;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    line-height: 40px;
}

.thirdPolicy {
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
}
.green_text {
    color: #009a3e;
}

.gray_text {
    color: #b3b3b3;
}

.join_button {
    border: 1px solid #009a3e;
    background-color: #009a3e;
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
