.header_area {
    display: block;
    color: #000000;
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #d9d9d9;
}

.back_area {
    display: absolute;
    left: 0;
    padding-left: 15px;
    height: 53px;
    width: 30px;
    line-height: 53px;
}

.back_icon {
    background-image: url(https://www.shouse.garden/images/common/sp_common_m.png);
    background-position: -21px -37px;
    background-size: 100px auto;
    width: 20px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
}

.header_text_area {
    display: absolute;
    text-align: center;
    margin-top: -53px;
}

.header_text {
    display: inline-block;
    z-index: -1;
    padding: 0 100px;
    font-size: 16px;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.input_area {
    display: block;
    margin: 0 auto;
    padding: 36px 0 0 0;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    text-indent: 13px;
}

#input_pw {
    margin-top: 10px;
}

.login_option_area {
    margin-top: 10px;
    height: 22px;
    display: flex;
}

.remember_id {
    display: inline-block;
}

input[type="checkbox"] + label {
    width: 20px;
    height: 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    border-radius: 3px;
}

input[type="checkbox"]:checked + label {
    border: 1px solid #009a3e;
    background: url(https://www.shouse.garden/images/common/check.png) center
        center no-repeat;
    background-size: 14px auto;
}

input[type="checkbox"] + label span {
    position: absolute;
    margin-left: 25px;
    text-align: left;
    display: inline-block;
    color: #222624;
    font-weight: 500;
    font-size: 13px;
}

.reset_pw {
    position: absolute;
    right: 0;
    color: #808080;
    font-size: 13px;
}

.login_button {
    margin-top: 20px;
    border: 1px solid #009a3e;
    background-color: #009a3e;
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.inform_join_area {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #808080;
}

.join_link {
    color: #009a3e;
}
