.header_area {
    color: #000000;
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #d9d9d9;
}

.back_area {
    display: absolute;
    left: 0;
    padding-left: 15px;
    height: 53px;
    width: 30px;
    line-height: 53px;
}

.back_icon {
    background-image: url(https://www.shouse.garden/images/common/sp_common_m.png);
    background-position: -21px -37px;
    background-size: 100px auto;
    width: 20px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
}

.header_text_area {
    display: absolute;
    text-align: center;
    margin-top: -53px;
}

.header_text {
    display: inline-block;
    z-index: -1;
    padding: 0 100px;
    font-size: 16px;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
}

main {
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.title {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 20px;
}

.collect_info {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    height: 66px;
}

.info_title {
    display: inline-block;
    width: 83px;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 66px;
    font-size: 14px;
    border-right: 1px solid #d9d9d9;
}

.info_text {
    display: inline-block;
    width: calc(100vh-83px);
    height: auto;
    font-size: 14px;
    padding-left: 5px;
}

.address_info {
    border-bottom: 1px solid #d9d9d9;
}

.date_info {
    border-bottom: 1px solid #d9d9d9;
}

.memo_info {
    border-bottom: 1px solid #d9d9d9;
}

.button_wrapper {
    margin-top: 30px;
    display: flex;
}

.cancel_btn {
    display: inline-block;
    width: 50%;
    height: 40px;
    text-align: center;
    border: 1px solid #009a3e;
    border-radius: 4px;
    color: #009a3e;
    line-height: 40px;
    margin-right: 3px;
}

.accept_btn {
    display: inline-block;
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #009a3e;
    border-radius: 4px;
    background-color: #009a3e;
    margin-left: 3px;
}

.accept_btn > a {
    color: #ffffff !important;
}
