<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="driver">
	
	<select id="driverCheckEmail" parameterType="string" resultType="_int">
		select count(driver_email) from tbl_driver where driver_email = #{driverEmail}
	</select>
	
	<insert id="driverJoin" parameterType="DriverVO">
		insert into tbl_driver
		(driver_email , driver_password , driver_area , driver_account_bank , driver_account_number)
		values(#{driverEmail},#{driverPassword},#{driverArea},#{driverAccountBank},#{driverAccountNumber})
	</insert>
	
	<select id="driverLogin" parameterType="DriverVO" resultType="_int">
		select driver_number from tbl_driver
		where driver_email = #{driverEmail} and driver_password = #{driverPassword}
	</select>
	
	<select id="getDriverEmail" parameterType="_int" resultType="string">
		select driver_email from tbl_driver
		where driver_number = #{driverNumber}
	</select>
	
   
</mapper>