/* 
---------------------------
          HEADER
--------------------------- */
body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    position: relative;
    margin: 0 auto;
    padding: 0 auto;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    background: transparent;
    cursor: pointer;
    border: 0;
}

#header.util {
    line-height: 40px;
    background-color: #f2f2f2;
}
span.sp {
    float: left;
    padding-top: 9px;
    padding-right: 2px;
}
span.sp img {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    background-size: 100% 100%;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    display: inline-block;
}
div.link_nav li {
    margin-left: 2px;
}
div.top {
    background-color: #f2f2f2;
    height: 40px;
    margin: 0 auto;
    padding: 0;
}
div.link_my {
    float: right;
}
div.link_my li {
    float: left;
    margin-left: 20px;
    padding-top: 7px;
}
div.link_my li a{
    text-decoration: none;
    color: #808080;
    font-size: 12px;
}

#header .home a {
    margin: 0 auto;
    display: block;
    width: 155px;
    height: 25px;
}
span.btn_search_icon {
    background: url(https://www.shouse.garden/images/common/sp_common.png);
    background-position: -125px -32px;
    width: 16px;
    height: 16px;
    position: absolute;
}

/* inner */
.holder {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}
div.inner {
    height: 40px;
    padding: 12px 0;
    border-bottom: 1px solid #d9d9d9;
}
div.inner li {
    float: left;
}
li.menu img {
    padding-top: 12px;
    padding-right: 22px;
    height: 16px;
}
div.inner li a {
    text-decoration: none;
    display: block;
    padding: 0 17px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #222624;
}
div.inner span.c {
    float: right;
    font-size: 0px;
    position: absolute;
}
span.write {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 22px;
    height: 22px;
    background-position: -101px -32px;
}
a.btn_t.write {
    position: absolute;
    top: 8px;
    right: 221px;
}
span.cart {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 28px;
    height: 25px;
    background-position: -73px -32px;
}
a.btn_t.cart {
    position: absolute;
    top: 7px;
    left: 930px;
}
span.my {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 21px;
    height: 21px;
    background-position: -50px -32px;
}
a.btn_t.my {
    position: absolute;
    top: 9px;
    right: 315px;
}
.inner ul {
    margin-left: 60px;
}
span.menu {
    background-image: url(https://www.shouse.garden/images/common/sp_common.png);
    width: 26px;
    height: 17px;
    background-position: -22px -32px;
    top: 10px;
}

input {
    list-style: none;
}
div.search {
    position: absolute;
    right: 0;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    border: 0;
    width: 160px;
    padding-right: 20px;
    text-align: 14px;
    height: 38px;
}
span.btn_search_icon {
    background: url(https://www.shouse.garden/images/common/sp_common.png);
    background-position: -125px -32px;
    width: 16px;
    height: 16px;
    position: absolute;
}

div.inner button {
    z-index: 100;
    position: absolute;
    
}
div.search input {
    padding-top: 13px;
    margin-left: -1px;
    width: 140px;
    padding-right: 20px;
    text-indent: 14px;
    font-size: 12px;
    background-color: transparent;
    box-sizing: content-box;
    border: none;
} 
div.search button.btn_search {
    width: 34px;
    height: 26px;
    right: 5px;
    top: 0px;
}
.subnav{
    margin: 0 auto ;
    margin-top: 1%;
    border-bottom: 1px solid #d9d9d9;
}
.sub-wrapper{
    display: flex;
    display: flex;
    text-align: center;
    width: 50%;
    margin-left: 11%;
    margin-bottom: 1%;
}
.subli{    
    margin-left: 40px;
}



/*
-----------------------------
           banner
-----------------------------*/
#container {
    position: relative;
    padding-top: 30px;
}
div.banner {
    margin-bottom: 77px;
}


/* category */
.category li {
    display: inline-block;
}
.category ul {
    font-size: 0px;
    display: flex;
}
ul.category_icon a {
    font-size: 16px;
    color: inherit;
    text-decoration: none;
}
ul.category_icon li {
    text-align: center;
}
.category .holder {
    padding: -1px 0.2%;
    margin-right: 10%;
}
div.ctg span.icon {
    width: 61.22%;
    margin: 0 auto 5px;
}
span.icon {
    display: block;
}
span.icon img {
    background-color: #b3b3b347;
    display: block;
    width: 100%;
    max-width: 100%;
}

div.hr {
    margin-top: 36px;
    height: 2px;
    background-color: #f2f2f2;
}

/*
-------------------------
        best shop
-------------------------*/

.bestshop{
    margin: 0 auto;
    width: 85%;
}
.best{
    max-width: 100%;
    height: fit-content;
}
.best h3 {
    margin-top: 48px;
    line-height: 63px;
    font-weight: 700;
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: -20px;
}
div.lst_gallery ul {
    margin-left: 40px;
}
.lst_gallery li {
    float: left;
    position: relative;
    width: calc(25% - 20px);
    margin-top: 35px;
    margin-right: 18px;
}

a{
    color: inherit;
    text-decoration: none;
}

.lst_gallery{
    display: grid;
}
.shopname{
    display: flex;
    justify-content: space-between;
}
.shopname > h4{
    height: 10px;
}
.best img{
    border-radius: 10px;
    /* width: 180px; */
    height: 230px;
}

.best-top img{
width: 100%;
margin: 1px;
}
.best-bottom img{
    width: 100%;
    margin: 1px;
    }

.price{
    font-size: 20px;
    font-weight: 700;
}
.lst_gallery span{
    font-size: 20px;
    font-weight: 700;
}
p{
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* .bestshop{
    width: 200px;
    height: 180px;
} */

/* .bestshop{
    height: 2000px;
} */


/* 
---------------------------
       hot keyword
--------------------------- */
/* h3.key {
    margin-top: 940px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 25px;
}

div.lst_keyword span {
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #3a6b4a;
    background-color: rgba(209,232,218,0.9);
    border-radius: 24px;
    float: left;
    margin-left: 35px;
}
div.keyword_bg {
    background: #f2faf5 url(https://www.shouse.garden/images/img/hotkeyword.jpg) right -3.63% no-repeat;
    padding: 60px 0;
    overflow: hidden;
    background-size: 33.08% auto;
}
div.lst_keyword {
    margin-left: 70px;
}
div.lst_keyword2 {
    margin-left: 140px;
    margin-top: 45px;
}
div.lst_keyword span.hotKeyword {
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #3a6b4a;
    background-color: rgba(209,232,218,0.9);
    border-radius: 24px;
    float: left;
    margin-left: 35px;
}
div.lst_keyword span.hot {
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(34, 106, 62, 0.9);
    border-radius: 24px;
    float: left;
    margin-left: 35px;
} */
/* div.lst_keyword2 span.hotKeyword {
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #3a6b4a;
    background-color: rgba(209,232,218,0.9);
    border-radius: 24px;
    float: left;
    margin-left: 35px;
} */
/* div.lst_keyword2 span.hot {
    padding: 0 30px;
    line-height: 48px;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(34, 106, 62, 0.9);
    border-radius: 24px;
    float: left;
    margin-left: 35px;
} */


/* 
-------------------------
          footer 
-------------------------
*/
#footer {
    background-color: #4d4d4d;
    margin-top: 200px;
    padding-bottom: 20px;
}
#footer.holder {
    padding: 54px 40px;
}
#footer .fnav {
    margin-top: 27px;
    overflow: hidden;
    text-align: center;
    background-color: #3e3e3e;
    border-radius: 4px;
}
#footer .fnav ul {
    display: inline-block;
    vertical-align: top;
}
#footer .fnav li {
    float: left;
}
#footer .fnav a {
    display: block;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}
#footer .bottom {
    margin-top: 26px;
    padding-top: 32px;
    color: #b3b3b3;
    word-break: keep-all;
    border-top: 2px solid #494949;
}
#footer .info {
    line-height: 26px;
    font-size: 15px;
    padding-top: 16px;
    color: #fff;
}
#footer .siteinfo {
    margin-top: 37px;
    color: #d9d9d9;
    line-height: 26px;
    font-size: 15px;
}
span.arrow {
    position: relative;
    background: url(https://www.shouse.garden/images/common/arrow02_r.png);
    background-size: 100% 100%;
    width: 6px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
}
.fnav li {
    margin-left: 28px;
}



