/*-------------------------
          footer 
-------------------------
*/
#footer {
    background-color: #4d4d4d;
    margin-top: 100px;
    padding-bottom: 20px;
}
#footer.holder {
    padding: 54px 40px;
}
#footer .fnav {
    margin-top: 27px;
    overflow: hidden;
    text-align: center;
    background-color: #3e3e3e;
    border-radius: 4px;
}
#footer .fnav ul {
    display: inline-block;
    vertical-align: top;
}
#footer .fnav li {
    float: left;
}
#footer .fnav a {
    display: block;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
#footer .bottom {
    margin-top: 26px;
    padding-top: 32px;
    color: #b3b3b3;
    word-break: keep-all;
    border-top: 2px solid #494949;
}
#footer .info {
    line-height: 26px;
    font-size: 15px;
    padding-top: 16px;
    color: #fff;
}
#footer .siteinfo {
    margin-top: 37px;
    color: #d9d9d9;
    line-height: 26px;
    font-size: 15px;
}
span.arrow {
    position: relative;
    background: url(https://www.shouse.garden/images/common/arrow02_r.png);
    background-size: 100% 100%;
    width: 6px;
    height: 9px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
}
.fnav li {
    margin-left: 28px;
}
